* {
    box-sizing: border-box;
    margin: 0;
}

.App {
    font-family: 'Open Sans', sans-serif;
    background-color: #f1eeee;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}